@use "@/sass/abstracts/" as *;
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@400;700&family=Krona+One&display=swap");

body {
  min-height: 100vh;
  font-family: "Krona One", sans-serif;
  @include gradient(135deg, $dark-blue, $dark-magenta, 2);
  padding-inline: 2.25rem;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.heading {
  @include text-gradient(135deg, $light-pink, $white);
  font-size: clamp(2.25rem, 3.146vw + 1.483rem, 4rem);
  width: min-content;
  margin-inline: auto;
}

.main {
  margin: auto;
  max-width: 30rem;
}

.footer {
  $footer-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $footer-height;
  position: relative;

  &::after {
    content: "";
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: -2.25rem;
    right: -2.25rem;
    height: $footer-height;
    background-color: $dark-blue;
  }

  &__link {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: letter-spacing 0.1s ease-in-out;

    &:hover {
      letter-spacing: 2px;
      @include text-gradient(135deg, $light-pink, $white);
    }
  }

  &__logo {
    height: calc($footer-height - 1.5rem);
  }
}
