$dark-blue: #241468;
$dark-magenta: #9f0d7f;
$dark-pink: #ea1179;
$light-pink: #f79bd3;
$white: #ffffff;

$colors: (
  "dark-blue": $dark-blue,
  "dark-magenta": $dark-magenta,
  "dark-pink": $dark-pink,
  "light-pink": $light-pink,
  "white": $white,
);
