@use "sass:meta";
@use "sass:math";
@use "sass:map";
@use "breakpoints" as *;

@mixin mq($size) {
  @if map.has-key($breakpoints, $size) {
    $breakpoint: map-get($breakpoints, $size);
    @media screen and (min-width: $breakpoint) {
      @content;
    }
  } @else if meta.type-of($size) == number {
    @if math.is-unitless($size) {
      @error 'when using a number with @mq() make sure to include a unit';
    } @else {
      @media screen and (min-width: $size) {
        @content;
      }
    }
  } @else {
    @error 'the keyword #{$size} is not in the $breakpoints map';
  }
}

@mixin input($color, $width: 15rem, $height: 4.5rem) {
  background-color: transparent;
  width: $width;
  height: $height;
}

@mixin border($color, $width: 3px) {
  border: $width solid $color;
  box-shadow: 0px 4px 5px 2px $color;
}
