$sizes: ();

$loop-start: 1;
$loop-1-end: 12;

@for $i from $loop-start through $loop-1-end {
  $sizes: map-merge(
    $sizes,
    (
      $i: calc($i / 4) * 1rem,
    )
  );
}

$i: 16;

@while $i <= 100 {
  $sizes: map-merge(
    $sizes,
    (
      $i: calc($i / 4) * 1rem,
    )
  );
  $i: $i + 4;
}
