@use "@/sass/abstracts/" as *;

.exchange-rate {
  @include text-gradient(45deg, $light-pink, $white);
  font-size: clamp(1rem, 1.798vw + 0.562rem, 2rem);

  &:after,
  &:before {
    content: "";
    display: block;
    width: 90%;
    height: 1px;
    margin-block: 1rem;
  }

  &:before {
    @include gradient(90deg, $light-pink, $white, 2);
    margin-left: auto;
  }

  &:after {
    @include gradient(90deg, $white, $light-pink, 2);
  }
}
